/*
CSS Methodology - BEM(Block Element Modifier) 

Block component
    .btn {}

Element that depends upon the block 
    .btn__price {}

Modifier that changes the style of the block
    .btn--orange {} 
    .btn--big {}

In this CSS methodology a block is a top-level abstraction of a new component,
for example a button: .btn { }. This block should be thought of as a parent.
Child items, or elements, can be placed inside and these are denoted by two 
underscores following the name of the block like .btn__price { }. Finally, 
modifiers can manipulate the block so that we can theme or style that
particular component without inflicting changes on a completely unrelated 
module. This is done by appending two hyphens to the name of the block just
like btn--orange.
--
Author: David Birchall
*/

body{
    background-image:url('../img/bg.jpg');
    background-color: white;
    background-size: 200%;
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-family: 'Open Sans', sans-serif;
    /*background-position-y: 100px;*/
}
.top-navbar{
    width: 100%;
    background: white;
    background: rgba(255,255,255,0.8);
    height: 80px;
    display: inline-block;
}
.top-navbar__brand{
    margin:30px;
}


.app-container{
    height:100%;
    width:100%;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
.center-column{
    width:50%;
    height:100%;
    margin: 0 auto;/*for IE*/
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,h2,h3{margin:0 10px;}
p{}
h2{}
h3{}

.hidden{}

.button{
        border: none;
        cursor: pointer;
        box-shadow: rgba(0,0,0,0.5) 0px 2px 1px;
        }
    .button--sort-button{
        width: 30%;
        background: rgba(255,255,255,0.5);
        padding: 20px 0;
        color: rgb(0,174,225)
    }
    .button--active{
        background: rgb(0,174,225);
        color:white;
        }
    .button--buy{
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 45px;
        background: rgb(25,56,138);
        color: white;
        z-index: 1000000;
        border-radius: 3px;
        font-weight: bold;
        font-size: 19px;
    }

.filters{width:100%}
.filters__sort-buttons{
    display: flex;
    justify-content: space-between;
}
.filters__search{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(0,174,225);
    height:80px;
    margin:20px 0 0 0;
    padding:20px 0 0 20px;
    }
    .filters__search input{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: rgba(0,0,0,0.5) 0px 2px 1px;
        border: none;
        width: 60%;
        height: 50px;
        border-radius: 5px;
        background: rgba(255,255,255,0.5);
        margin: 0 0 20px 0;
        padding: 0 25px;
        color: blue;
        font-size: 30px;

    }

.product{
    background: transparent;
    margin: 30px 0 0 0;
    box-shadow: rgba(0,0,0,.5) 0px 2px 2px;
    -webkit-box-shadow: rgba(0,0,0,.5) 0px 2px 2px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
    .product__header{
        background: lightsteelblue;
        background:rgba(255,255,255,0.7);
        display: inline-block;
        width: 100%;
        color:rgb(25,56,138);;
        }
        .product__header__info{
            width:60%;
            float:left;
            padding:10px 0;
        }
            .product__header__info__stars{
                color: rgb(242,211,48);
            }
        .product__header__price{
            width: 24%;
            float: right;
            text-align: right;
            padding: 10px 0;
            border-left: 3px solid rgb(25,56,138);
            background: rgb(242,211,48);
        }
    .product__image{
        height:300px;
        width:100%;
        margin: -5px 0;
    }
    .product__footer{
        padding:10px;
        vertical-align: center;
        background: rgb(0,174,225);
        color:white;
        cursor: pointer;
        }
        .product__footer__info{
            width:89%;
            display:inline-block;
        }
        .product__footer__chevron{
            width:10%;
            display:inline-block;
            text-align:center;
            font-size:90px;
            line-height: 0.2;
            vertical-align: middle;
             transition: all linear 0.3s;
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
        }
            .product__footer__chevron--rotated{
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }
            .product__footer__chevron div{
                position: relative;
                height:50px;
            }
    .product__description{
        width:100%;
        height:200px;
        display: block;
        background: white;
        color: rgb(0,174,225);
        padding: 15px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        margin-top: -200px;
        transition: all linear 0.5s;
        -webkit-transition: all linear 0.5s;
        -moz-transition: all linear 0.5s;
        -o-transition: all linear 0.5s;
        z-index:-1;
    }
        .product__description--show{
             margin-top: 0;
        }
        .product__description p{
            margin: 0 20px 20px 20px;
        }


/*

#list {
  /* Needed, otherwise items would be at top of the page (see below) 
  position: absolute;
  /* full width, or it would look strange 
  width: 100%;
}
#list li {
  position: absolute;
  /* Top: 0; this will be changed for every single list item by AngularJS 
  top: 0;
  /* Item height; hold this in sync with template file 
  height: 40px;
  /*  Simple transition 
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

*/