<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
       <!-- <link rel="stylesheet" href="css/boilerplate.css">
        <link rel="stylesheet" href="css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Start of app/website -->

        <div class="app-container" ng-app="ProductThumbnailSort" ng-controller="MainCtrl" class="app-container">
            <nav class="top-navbar">
                <div class="top-navbar__brand">Logo</div>
            </nav>
            
            <div class="center-column">

                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://web.resource.org/cc/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.0" width="535" height="110" id="svg2" sodipodi:version="0.32" inkscape:version="0.44" sodipodi:docname="5.svg" sodipodi:docbase="G:\svg\stars">
  <metadata id="metadata20">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview inkscape:window-height="569" inkscape:window-width="853" inkscape:pageshadow="2" inkscape:pageopacity="0.0" guidetolerance="10.0" gridtolerance="10.0" objecttolerance="10.0" borderopacity="1.0" bordercolor="#666666" pagecolor="#ffffff" id="base" inkscape:zoom="1.4672897" inkscape:cx="267.5" inkscape:cy="55" inkscape:window-x="44" inkscape:window-y="58" inkscape:current-layer="svg2"/>
  <defs id="defs4">
    <linearGradient id="linearGradient2762">
      <stop style="stop-color:#fc0;stop-opacity:1" offset="0" id="stop2764"/>
      <stop style="stop-color:#ff6e00;stop-opacity:1" offset="1" id="stop2766"/>
    </linearGradient>
    <radialGradient cx="80" cy="242.58746" r="97.352219" fx="80" fy="242.58746" id="radialGradient4610" xlink:href="#linearGradient2762" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.951057,0,11.87307)"/>
    <radialGradient inkscape:collect="always" xlink:href="#linearGradient2762" id="radialGradient1890" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.951057,0,11.87307)" cx="80" cy="242.58746" fx="80" fy="242.58746" r="97.352219"/>
    <radialGradient inkscape:collect="always" xlink:href="#linearGradient2762" id="radialGradient1897" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.54003,0,0,0.513599,13.68591,-69.5927)" cx="80" cy="242.58746" fx="80" fy="242.58746" r="97.352219"/>
  </defs>
  <path d="M 56.888312,4.99999 L 69.297481,43.198877 L 109.46143,43.196598 L 76.966771,66.802524 L 89.380284,105.00001 L 56.88831,81.390382 L 24.396334,105.00001 L 36.809848,66.80253 L 4.3151906,43.196598 L 44.479138,43.198877 L 56.888312,4.99999 z " style="fill:url(#radialGradient1897);fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1874"/>
  <use transform="translate(105.3058,0)" id="use4643" x="0" y="0" width="535" height="110" xlink:href="#path1874"/>
  <use transform="translate(210.6117,0)" id="use4645" x="0" y="0" width="535" height="110" xlink:href="#path1874"/>
  <use transform="translate(315.9175,0)" id="use4647" x="0" y="0" width="535" height="110" xlink:href="#path1874"/>
  <use transform="translate(421.2234,0)" id="use4650" x="0" y="0" width="535" height="110" xlink:href="#path1874"/>
</svg>

                <nav class="filters">
                    <div class="filters__search">
                        <input type="textbox" ng-model="search" placeholder="Search Holidays"/>
                    </div>
                    <div class="filters__sort-buttons">
                        <button ng-click="orderByMe('name')" class="button button--sort-button">sort alphabetically</button>
                        <button ng-click="orderByMe('price')" class="button button--sort-button">sort by price</button>
                        <button ng-click="orderByMe('rating')" class="button button--sort-button button--active">sort by star rating</button>
                    </div>
                </nav>

                <div class="product" ng-repeat="product in products | orderBy:myOrderBy | filter : search" ng-cloak>
                    <div class="product__header">
                        <div class="product__header__info">
                            <h2><strong>{{ product.name }}</strong> <span class="stars" data-rating=" {{ product.rating }} ">{{ product.rating }}</span> </h2>
                            <p>Costa Adeje, Tenerife</p>
                        </div>
                        <div class="product__header__price">
                            <p><strong>holiday price</strong></p>
                            <h2><strong>{{ product.price | currency : '£' : 0 }}</strong></h2>
                        </div>
                    </div>
                    <img class="product__image" src="products/img/{{ product.image }}"/>
                    <div class="product__footer">
                        <div class="product__footer__info">
                            <h3><strong>3 July 2014</strong> for
                                <strong>7 days</strong> from
                                <strong>East Midlands,</strong>
                                <strong>2 children & 1 infant</strong>
                            </h3>
                        </div>
                        <div class="product__footer__chevron">
                          <div>></div>
                        </div>
                    </div>
                    
                    <div class="product__description hidden">
                        <p>
                            wejkefjkwef wewefewf jkwefjkefjnk feje jn ej nnfef jnefj jejnefjf jenjnefj ff 
                           wejkefjkwef wewefewf jkwefjkefjnk feje jn ej nnfef jnefj jejnefjf jenjnefj ff 
                           wejkefjkwef wewefewf jkwefjkefjnk feje jn ej nnfef jnefj jejnefjf jenjnefj ff 
                           wejkefjkwef wewefewf jkwefjkefjnk feje jn ej nnfef jnefj jejnefjf jenjnefj ff 
                           wejkefjkwef wewefewf jkwefjkefjnk feje jn ej nnfef. 
                        </p>
                        <button class="button button--buy">BOOK NOW</button>
                    </div>
                </div><!-- product -->

            </div><!-- center-column -->
        </div><!-- app-container -->

<!-- style="display:none" -->
<div ng-app="StackApp" >
  <div ng-controller="MainCtrl2">
    <h1>Animate Order</h1>
    <form action="">
      <label for="reverse">reverse = true</label>
      <br>
      <input type="radio" value="true" name="reverse" ng-model="reverse">
      <br>
      <br>
      <label for="reverse">reverse = false</label>
      <br>
      <input type="radio" value="false" name="reverse" ng-model="reverse">
      <br>
      <br>
      <label for="reverse">reverse = random (click button below to shuffle again)</label>
      <br>
      <input type="radio" value="random" name="reverse" ng-model="reverse">
    </form>
    <br>
    <br>
    <input type="button" ng-click="reverse = 'random';setOrder()" value="setOrder()">
    <br>
    <br>
    <ul id="list" ng-style="{height: ((myList.length * 40) + 'px')}">
      <li ng-repeat="item in myList" ng-style="{top: ((item.order * 40) + 'px')}">{{$index}} - {{item.order}}. {{item.text}}</li>
    </ul>
  </div>
</div>


        <!-- End of app/website -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-animate.min.js"></script>
     <!--   <script src="js/vendor/bootstrap.min.js"></script> -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
